.catalog-tree-nav {
  display: none;
  margin: 10px;
  @media (min-width: 768px) {
    display: inline-block;
  }
  .next-arrow {
    margin: 10px;
  }
  a:hover {
    color: #6b3368;
    text-decoration: underline;
  }
}