.check-out-card {
  background: white;
  padding: 15px 20px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);

  button {
    width: 100%;
    padding: 10px;
    background: #6b3368;
    color: white;
    border-radius: 8px;
    font-size: inherit;
    font-weight: bold;
  }
}

.check-out-card > div {
  margin-bottom: 20px;
}