.dashboard-nav {
  height: max-content;
  margin-top: 20px;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  hr {
    margin: 0;
  }

  a {
    display: flex;
    padding: 10px 20px;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;

    &:hover, &.path-active {
        border-radius: 30px;
        box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
        // border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background-color: #f2f2f2;
    }

    &.path-active {
      background: white;
    }
    

    span {
      font-size: 16px;
      font-weight: bold;
    }

    svg {
      margin-right: 20px;
      width: 28px;
      height: 28px;
    }
  }

}