header {
	padding: 10px;
	background: white;
	margin: 0;

	.header-container {
		display: flex;
		margin: auto;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;

		@media (min-width: 768px) {
			width: 85%;
		}

		.site-logo {
			color: #6b3368;
			font-family: 'Acme', sans-serif;
			flex-grow: 1;
			font-size: 80%;
			@media (min-width: 768px) {
				font-size: initial;
			}
		}

		.search-bar {
			margin-right: auto;
			flex-grow: 2;
			order: 3;
			@media (min-width: 518px) {
				order: initial;
				button,
				input {
					padding: 12px;
				}
			}

			input {
				width: calc(100% - 90px);
				outline: none;
				padding: 10px;
				box-sizing: border-box;
				border: 1px solid #d8d8d8;
				margin: 5px;
				border-radius: 5px;
				box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
			}

			button {
				background-color: #6b3368;
				box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				padding: 10px;
				color: white;
				outline: none;
			}
		}

		.user-links {
			display: flex;
			flex-grow: 1;
			flex-flow: row wrap;
			justify-content: flex-end;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.8);
			align-items: center;

			.cart-link {
				position: relative;
				.cart-items-count {
					line-height: 1.1em;
					padding: 3px;
					border: 2px solid #fff;
					position: absolute;
					min-width: 22px;
					min-height: 22px;
					font-weight: 700;
					text-align: center;
					letter-spacing: -1px;
					text-indent: -2px;
					position: absolute;
					left: 70%;
					bottom: 100%;
					background: rgb(230, 6, 6);
					color: white;
					border-radius: 50%;
					font-weight: 700;
					font-size: smaller;
				}
			}

			span,
			.fa-caret-down {
				display: none;
				@media (min-width: 992px) {
					display: initial;
				}
			}

			// fa-caret-down

			.account-links-cont {
				display: inline-block;
				padding: 0;

				.account-links {
					position: relative;
					display: block;
					padding: 10px 0 10px 0;
					// border: 1px solid #6b3368;

					ul {
						position: absolute;
						right: 0;
						box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
						margin-top: 10px;
						border-radius: 5px;
						padding: 10px;
						background: white;
						z-index: 1000;
						width: max-content;
            visibility: hidden;
            transform: scaleY(0);
            // opacity: 0;           
            overflow: hidden;
						transition: visibility 0s, transform 0.4s ease-in-out;

						@media (min-width: 768px) {
							left: 0;
						}
					}
				}

				.account-links:hover > ul,
				.account-links ul:hover {
          visibility: visible;
          transform: scaleY(1);
          transform-origin: top;
				}
				.account-links li,
				.account-links span {
					padding: 10px;
					cursor: pointer;
				}

				.account-links li:hover,
				.account-links span:hover {
					color: #6b3368;
				}
			}

			// .account-links:hover {
			//   background: white;
			//   color: #6b3368;
			//   border: 1px solid #6b3368;
			// }
			a {
				padding: 10px;
				text-decoration: none;
			}
			.cart-icon {
				margin-right: 5px;
			}
		}
	}
}
