.horizontal-card {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  justify-content: flex-start;
  height: 175px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);


  .prod-img {
    width: 15%;
    height: 100%;
    margin-right: 20px;
    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    .actions-sec {
      vertical-align: bottom;
      display: inline-block;
      position: absolute;
      bottom: 8px;
      a {
        fill: #868686;
      }
      a:hover {
        color: #6b3368;
        font-weight: bold;
      }

      a:hover > svg {
        fill: #6b3368;
        width: 19px;
        height: 19px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
    h3 {
      margin-bottom: 10px;
      padding-right: 5px;
    }
  }
  .quantity-sec {
    width: 10%;
    .select-field {
      width: 80%;
      margin: auto;
      select {
        font-size: 15px;
        width: 100%;
      }
    }
  }

  .total-price-sec{
    width: 15%;
  }

  .unit-price-sec {
    width: 15%;
  }
  .quantity-sec, .total-price-sec, .unit-price-sec {
    text-align: center;
  }
}


.cart-table-header {
  display: flex;
  flex-direction: row;
  h4 {
     margin-bottom: 10px;
  }
  .product-details {
    width: 52%;
    margin-right: 10px;
  }
  .total-price-sec {
    width: 15%;
  }

  .unit-price-sec {
    width: 15%;
    text-align: left;
  }

  .quantity-sec {
    width: 17%;
    text-align: center;
  }
}

