.cart-page {
  .main-sec {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 20px;
    .left-sec {
      margin-right: 10px;
    }
    .right-sec {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}