.category-page {
  .main-sec {
    display: grid;
    grid-template-columns: 20% 80%;

    .left-sec, .right-sec {
      margin: 20px;
    }

    .left-sec {
      margin-top: 80px;
      ul {
        margin-top: 20px;
        li {
          margin-bottom: 10px;
          a {
            padding: 7px;
            display: inline-block;
            width: 100%;
          }
          a.path-active {
            background: #ece3ea;
            color: #6b3368;
            border-radius: 4px;
          }
        }
      }
    }

    .right-sec {
      .category-heading {
        text-align: center;
        margin-bottom: 10px;
        h2 {
          margin-bottom: 5px;
        }
      }
      .product-list {
        display: flex;
        flex-flow: row wrap;
        .product-card-sm {
          width: 22.5%;
          border: 1px solid rgba(0, 0, 0, 0.06);
          box-shadow : 0 0.125rem 0.8rem 0 rgba(0, 0, 0, 0.1);
          margin: 10px;
        }
      }
    }
  }
}