.category-page {
  .main-sec {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 20% 80%;

    }

    .left-sec,
    .right-sec {
      @media (min-width: 768px) {
        display: 10px;
      }
      @media (min-width: 992px) {
        display: 20px;
      }
    }

    .left-sec {
      margin-top: 80px;
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
      ul {
        margin-top: 20px;
        li {
          margin-bottom: 20px;
          list-style-type: square;
          list-style-position: inside;
          a {
            padding: 7px;
          }
          a.path-active {
            background: white;
            border-radius: 15px;
            border: 1px solid rgba(0, 0, 0, 0.06);
          }
        }
      }
    }

    .right-sec {
      .category-heading {
        text-align: center;
        margin-bottom: 10px;
        h2 {
          margin-bottom: 5px;
        }
      }
      .product-list {
        display: flex;
        flex-flow: row wrap;
        .product-card-sm {
          border: 1px solid rgba(0, 0, 0, 0.06);
          box-shadow: 0 0.125rem 0.8rem 0 rgba(0, 0, 0, 0.1);
          width: 46%;
          margin: 5px;

          @media (min-width: 768px) {
            width: 31%;
          }

          @media (min-width: 992px) {
            width: 22.5%;
            margin: 10px;
          }
        }
      }
    }
  }
}
