.check-out-page {
  margin-bottom: 50px;
  .blur-and-disable {
    opacity: 0.3;
  }
  .main-sec {
    margin-top: 20px;
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 60% 40%;
    }

  .right-sec {
    @media (min-width: 992px) {
      margin-left: 20px;
    }

    .update-info, .payment-method-section {
      display: block;
      @media (min-width: 992px) {
        display: none;
      }
    }

    .payment-options-form {
      background-color: white;
      box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 10px;
    };

    .horizontal-card, .cart-table-header{
      * {
        font-size: 98%;
      }
    }
    .horizontal-card {
      max-height: 150px;
    }
    
    h2 {
      margin-bottom: 0;
    }
  }

  .left-sec {
    display: none;
    background: white;
    padding: 40px 30px;
    margin-right: 10px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    @media(min-width: 992px) {
      display: block;
    }
    .info-heading {
      margin-top: 0;
      margin-bottom: 40px;
      h2 {
        margin: 10px 0;
      }
    }
    .profile-form {
      margin-bottom: 30px;
      .input-field {
        width: 47%;
      }
    }
  }
  }
  
}