.check-out-page {
  margin-bottom: 50px;
  .blur-and-disable {
    opacity: 0.3;
  }
  .main-sec {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 20px;

  .right-sec {
    margin-left: 20px;
    .horizontal-card, .cart-table-header{
      * {
        font-size: 98%;
      }
    }
    .horizontal-card {
      max-height: 150px;
    }
    
    h2 {
      margin-bottom: 0;
    }
  }

  .left-sec {
    background: white;
    padding: 40px 30px;
    margin-right: 10px;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    .info-heading {
      margin-top: 0;
      margin-bottom: 40px;
      h2 {
        margin: 10px 0;
      }
    }
    .profile-form {
      margin-bottom: 30px;
      .input-field {
        width: 47%;
      }
    }
  }
  }
  
}