.order-details-page {
  h3 {
    margin: 0;
  }
  hr {
    margin-top: 14px;
  }
  .main-sec {
    display: grid;
    grid-template-columns: 50% 50%;

    .left-sec, .right-sec {
      box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin: 30px;
      padding: 20px 30px;
      background: white;
    }

    .left-sec { 

      .order-details > div, .delivery-details > div, .payment-details > div {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }

    }
    .right-sec {
      height: max-content;
      .item-container {
        display: flex;
        .img-container {
          width: 20%;
          margin-right: 20px;
          img {
            width: 100%;
            height: 100px;
            object-fit: contain;
          }
        }
        .other-details-sec {
          width: 78%
        }
      }
    }
    
  }
}