.profile-container {
  margin-left: 20px;
  background: white;
  padding: 30px 30px 40px 30px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  h2 {
    margin: 10px 0 40px 0;
    text-align: center;
  }
  .input-field {
    width: 31%;
  }
  
}