body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
  background-color: #F1F7F9;
  overflow: hidden;
}

a {
  color: unset;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a.no-underline {
  text-decoration: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
